<?xml version="1.0"?>
<launch>
    <arg name="vocabularty_path" default="$(find ORB_SLAM2)/../../../Vocabulary/ORBvoc.txt" />
    <arg name="camera_setting_path" default="$(find ORB_SLAM2)/conf/IDScam.yaml" />
    <arg name="bUseViewer" default="false" />
    <arg name="bEnablePublishROSTopic" default="true" />

    <node name="ORB_SLAM2" pkg="ORB_SLAM2" type="Mono" output="screen" 
    	args="$(arg vocabularty_path) $(arg camera_setting_path) ">
	<remap from="/camera/image_raw" to="/zed/left/image_rect_color"/>
  	</node>

    <include file="$(find zed_wrapper)/launch/zed.launch" />
</launch>
