[submodule "Firmware"]
	path = Firmware
	url = https://github.com/saikrn112/Firmware.git
[submodule "flight_ws/src/mav_comm"]
	path = flight_ws/src/mav_comm
	url = https://github.com/saikrn112/mav_comm.git
[submodule "flight_ws/src/rotors_simulator"]
	path = flight_ws/src/rotors_simulator
	url = https://github.com/saikrn112/rotors_simulator.git
